<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | MOOC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
  <!--  <div class="container">-->
      <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
     <% end %>

      <%= yield %>
      
        <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
      <%= render 'layouts/footer' %>
      <!-- For debugging -->
      <%= debug(params) if Rails.env.development? %>

<!--    </div>-->
  </body>

</html>
